@charset "UTF-8";
/* CSS Document */
/* The body tag style applies to all elements on the page */
body {
color:white;    
background-color: B4C73C; 
font-family: 'Playfair Display', serif;
font-weight: 800;
padding:2px;
margin:2px;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(Desktop/WebDevelopmentCourse\MichaelsAvatar/Avatar.png);
    background-size: cover;
    background-position: center;
}
/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper {
width: 960px;height: 800px;
margin-left: auto;
margin-right: auto;
background-color:red ;
}
/* The right-column ID style is floated right */
#right-column {
float: right;
width: 600px;height: 600px;
background-color:rgb(226, 37, 37);
}
/* The left-column ID style is floated left */
#left-column {
float: left;
width: 360px;background-color:rgb(228, 57, 57);
height:600px;
}
/* Defining a style for a set of tags separated by commas applies the style to
all tags */
h1,h2,h3,h4,h5,h6,p,li {
margin-left:15px;
}
#footer {
height:80px;
}
#banner{
height:120px;
background-color:red;
}
/* Defining a style for a set of tags not separated by commas applies the style
only to all tags within the preceding tag*/
#banner h1 {
    color: white;
    }
/* Advanced Web design relies on class or ID styles, never tables */
.box {
height: 150px;
width: 150px;float: left;
background-color:tan;
margin: 15px;
opacity:.5;
}
/* The following pseudo-class applies to the box class when in a hoveblack state */
.box:hover {
background-color:white;
opacity:1;
}
/* This clear class style terminates float */
.clear{
clear: both;
}


.clear{
    clear: both;
    }
    body {
        background: red;
        background: -moz-linear-gradient(top, black 0%, red 100%);
        background: -webkit-linear-gradient(top, black 0%, red 100%);
        background: -o-linear-gradient(top, black 0%, red 100%);
        background: linear-gradient(to bottom, black 0%,red 100%);
        font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
background-color: black;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}
.box
{
height: 100px;
width: 100px;float: left;
margin: 15px;
padding: 25px;
opacity:.5;
border-radius: 75px;
}